/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --nav-top-bg: #F4F4F4;
  --nav-bottom-bg: #E0E0E0;
  --nav-top-text-color: #AAAAAA;
  --nav-bottom-text-color: #000000;
  --text-color: #AAAAAA;
  --title-color: #1A1A1A;
  --accent-text: #46856E;
  --white-text-color: #FFFFFF;
  --deep-dark-text-color: #000000;
  --bg-color: #F2F2F2;
  --btn-color: #46856E;
  --footer-text: #FFFFFF;
  --footer-bg: #2B2B2B;
  --font: "Roboto", sans-serif;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../../fonts/Roboto-Regular.woff") format("woff");
}
html, body {
  font-family: var(--font);
  color: var(--text-color);
}

.none {
  display: none !important;
}

.content, .presentation-content__text_right, .presentation-content__text_left {
  will-change: transform;
}

.nav {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 49px;
}

.nav-top {
  padding-right: 51px;
  height: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: var(--nav-top-bg);
}

.nav-top-list {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
}

.nav-top-list__item {
  position: relative;
}

.nav-top__link {
  transition: color 0.1s ease-in;
  line-height: 2.75;
  letter-spacing: 1px;
  color: var(--nav-top-text-color);
}
.nav-top__link:hover {
  color: var(--accent-text);
}

.nav-top-list__sub-nav {
  opacity: 0;
  pointer-events: none;
  min-width: 100px;
  position: absolute;
  left: -30px;
  top: 100%;
  transform: translate(0%, 10%);
  transition: all 0.2s ease-in;
}

.nav-top-list__item:hover .nav-top-list__sub-nav {
  pointer-events: all;
  opacity: 1;
  transform: translate(0%, 0%);
}

.sub-nav {
  display: grid;
  gap: 10px;
  font-size: 11px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--nav-top-bg);
}
.sub-nav a {
  transition: color 0.1s ease-in;
  color: var(--nav-top-text-color);
}
.sub-nav a:hover {
  color: var(--accent-text);
}

.nav-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 33px 0 125px;
  height: 99px;
  border-bottom: 1px solid #E0E0E0;
}

.nav-bottom__icons {
  display: flex;
  align-items: center;
}

.map-icon {
  margin-right: 10px;
}

.map-icon_text {
  line-height: 1.2;
  letter-spacing: 2px;
  color: var(--nav-bottom-text-color);
  margin-right: 46px;
}

.nav-bottom-list {
  display: flex;
  -moz-column-gap: 100px;
       column-gap: 100px;
}

.nav-bottom-list__link {
  line-height: 1.1666666667;
  letter-spacing: 2px;
  color: var(--nav-bottom-text-color);
}

.header {
  margin-bottom: 210px;
}

.header-content__img {
  display: block;
  margin: 0 auto 80px;
}

.header-content__text {
  display: flex;
  justify-content: center;
}

.header-content__title {
  max-width: 355px;
  margin-right: 136px;
  font-size: 48px;
  line-height: 1.2083333333;
  color: var(--title-color);
}

.header-content-description {
  max-width: 569px;
  padding: 13px 0 1px;
  font-size: 24px;
  line-height: 1.6666666667;
  color: var(--text-color);
}

.catalog__wrapper {
  margin-bottom: 247px;
  display: grid;
  grid-template-columns: repeat(2, 588px);
  gap: 32px 24px;
  justify-content: center;
}

.catalog-page {
  font-size: 24px;
  line-height: 1.1666666667 28px;
  color: var(--title-color);
}

.catalog-page__img {
  margin-bottom: 9px;
}

.brands__wrapper {
  margin-bottom: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brands__title {
  margin-bottom: 27px;
  font-size: 48px;
  line-height: 1;
  color: var(--title-color);
}

.brands__subtitle {
  margin-bottom: 125px;
  font-size: 24px;
  line-height: 1.5;
  color: #4A4A4A;
}

.brands__banner {
  padding: 0 20px 49px 45px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  gap: 49px 43px;
}

.swiper-wrapper {
  position: relative;
  padding-bottom: 48px;
}

.coverflow {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.coverflow .swiper-slide {
  width: 100%;
  max-width: 1344px;
}

.coverflow .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  aspect-ratio: 1344/700;
}

#sliderPrev {
  position: absolute;
  z-index: 1;
  left: 7%;
  top: 44%;
}

#sliderNext {
  position: absolute;
  z-index: 1;
  right: 7%;
  top: 44%;
}

.swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--btn-color);
}

.swiper .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: var(--btn-color);
}

.advantages__wrapper {
  margin: 83px 0 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__title {
  max-width: 1077px;
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1666666667;
  color: var(--title-color);
}

.advantages__btn {
  display: block;
  margin-bottom: 63px;
  font-size: 14px;
  line-height: 0.8571428571;
  letter-spacing: 0.75px;
  color: var(--btn-color);
}

.advantages-points {
  max-width: 1090px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.advantages-point {
  max-width: 323px;
}

.advantages-points__img {
  display: block;
  margin: 0 auto 42px;
}

.advantages-points__title {
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 1.3333333333;
  color: var(--title-color);
}

.advantages-points__description {
  line-height: 1.5;
  color: var(--text-color);
}

.reviews {
  max-width: 1440px;
  margin: 0 auto;
}

.reviews__wrapper {
  margin: 0 50px;
  position: relative;
  background-image: url("./../img/reviews-bg.jpg");
  background-size: cover;
  aspect-ratio: 1340/800;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .reviews__wrapper {
    background-image: url("./../img/reviews-bg@2x.jpg");
  }
}

.reviews__content {
  position: absolute;
  top: 8.3333333333%;
  left: 12.7083333333%;
  color: var(--white-text-color);
  padding-bottom: 129px;
}

.reviews__text_grade {
  margin: 0 0 7px 10px;
}

.reviews__text_title {
  max-width: 201px;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 1.3333333333;
}

.reviews__text_brand {
  margin: 0 0 40px 10px;
}

.reviews__content_btn {
  margin-left: 10px;
  line-height: 1.3333333333;
  letter-spacing: 0.75px;
  color: var(--white-text-color);
}

.presentation__wrapper {
  margin: 240px 72px 288px;
}

.presentation__text {
  max-width: 882px;
  margin: 0 auto;
  font-size: 46px;
  line-height: 1.1304347826;
}

.presentation__description {
  margin-bottom: 25px;
  color: var(--text-color);
}

.presentation__title {
  max-width: 861px;
  margin-bottom: 135px;
  color: var(--deep-dark-text-color);
}

.presentation-content {
  max-width: 1200px;
  margin: 0 auto;
}

.presentation-content__card {
  display: flex;
}
.presentation-content__card:not(:first-child) {
  margin-top: 64px;
}

.presentation-content__text {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  padding: 110px;
}

presentation-content__text_left {
  padding-left: 110px;
  padding-right: 110px;
}

.presentation-content__text_left {
  padding-left: 110px;
  padding-right: 121px;
}

.presentation-content__point {
  font-size: 32px;
  line-height: 1.125 36px;
  color: var(--title-color);
}

.presentation-content__description {
  line-height: 1.5;
  color: var(--text-color);
}

.swiper-auto {
  max-width: 1344px;
  max-height: 700px;
}

.swiper-auto-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1344/700;
}

.purchase-terms__wrapper {
  margin: 286px auto 79px;
  max-width: 1200px;
  max-height: 465px;
  background-color: var(--bg-color);
}

.purchase-terms__content {
  padding: 63px 0 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purchase-terms__title {
  display: inline-block;
  font-size: 46px;
  line-height: 1.0869565217;
  color: var(--deep-dark-text-color);
}

.purchase-terms__points {
  display: flex;
  justify-content: space-between;
  padding: 65px 0 70px;
  max-width: 800px;
  -moz-column-gap: 67px;
       column-gap: 67px;
}

.purchase-terms__point {
  align-self: center;
  margin: 0 55px 0;
  max-width: 200px;
  max-height: 100px;
}

.purchase-terms__img {
  margin: 0 auto 22px;
  display: block;
}

.purchase-terms__img_min {
  margin: 6px auto 29px;
}

.purchase-terms__description {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.75px;
  text-align: center;
  color: var(--title-color);
}

.purchase-terms__btn {
  padding: 0 24px;
  margin-bottom: 26px;
  max-width: 146px;
  max-height: 50px;
  border-radius: 2px;
  background-color: var(--btn-color);
  font-size: 12px;
  line-height: 5;
  letter-spacing: 2px;
  text-align: center;
  color: var(--white-text-color);
}

.purchase-terms__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
}

.footer {
  position: relative;
  color: var(--footer-text);
  letter-spacing: 0.5px;
  font-size: 14px;
  background-color: var(--footer-bg);
  box-shadow: 0px 400px 0px 0px var(--footer-bg);
}
.footer a {
  color: var(--footer-text);
  letter-spacing: 0.5px;
  font-size: 14px;
}

.footer__wrapper {
  max-width: 1200px;
  padding: 97px 0 51px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 4fr 2fr 5fr;
  grid-row: 20px;
}

.footer__back {
  position: absolute;
  top: 406px;
  right: 0;
  display: inline-block;
  transform: rotate(-90deg);
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1.0909090909;
  letter-spacing: 2.4px;
}

.footer-info {
  display: grid;
  grid-template-columns: repeat(2, 170px);
  row-gap: 20px;
}

.footer-info-list__list_title {
  margin-bottom: 17px;
}

.footer-info-list__link {
  line-height: 1.1428571429;
}

.footer-socials__text {
  margin-bottom: 17px;
}

.footer-socials__wrapper {
  display: flex;
  -moz-column-gap: 13px;
       column-gap: 13px;
}

.footer-form__text {
  margin-bottom: 17px;
}

#join-form {
  padding: 3px;
  width: 327px;
  height: 54px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  resize: none;
}

.select-wrapper {
  margin: 16px 0 56px 209px;
}

#country-select {
  background-color: var(--footer-bg);
  opacity: 0.5;
  font-size: 14px;
  line-height: 1.5;
}

.privacy__text {
  max-width: 369px;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1.1818181818;
  letter-spacing: 2px;
}

input[type=checkbox] {
  display: none;
}

label.privacy__text {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

label.privacy__text span {
  content: "";
  position: relative;
  margin-right: 20px;
  min-width: 28px;
  height: 26px;
  background: var(--footer-bg);
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: 250ms cubic- bezier(0.4, 0, 0.23, 1);
  display: inline-block;
}

label.privacy__text input[type=checkbox]:checked ~ span {
  background: var(--btn-color);
}

label.privacy__text span:after {
  content: "";
  display: block;
  left: 34%;
  top: 10%;
  width: 35%;
  height: 50%;
  border: solid rgba(138, 120, 120, 0.2);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) scale(0);
  position: absolute;
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.23, 1);
  cursor: pointer;
}

label.privacy__text:hover span:after {
  border: solid rgba(0, 0, 0, 0.1);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) scale(1);
  opacity: 1;
}

label.privacy__text input[type=checkbox]:checked ~ span:after {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) scale(1);
  opacity: 1;
}

.footer-form__submit {
  margin-left: 313px;
  text-transform: uppercase;
  line-height: 4.2857142857;
  letter-spacing: 2;
}/*# sourceMappingURL=main.css.map */