.advantages-points {
    max-width: 1090px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;

    @include for-small-desktop() {
        max-width: 900px;
    }

    @include for-tablet() {
        max-width: 800px;
        column-gap: 25px;
    }

    @include for-mobile() {
        max-width: 600px;
        column-gap: 18px;
    }

    @include for-phone-mini() {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px 18px;
    }

}

.advantages-point {
    max-width: 323px;
}

.advantages-points__img {
    display: block;
    margin: 0 auto 42px;

    @include for-small-desktop() {
        max-width: 900px;
        width: 108px;
        height: 81px;
    }

    @include for-mobile() {
        max-width: 600px;
        width: 72px;
        height: 54px;
    }

}


.advantages-points__title {
    margin-bottom: 18px;
    font-size: 24px;
    color: var(--title-color);

    @include for-small-desktop() {
        font-size: 22px;
    }

    @include for-mobile() {
        font-size: 19px;
        height: 42px;
    }
}

.advantages-points__description {
    line-height: calc(24 / 16);
    color: var(--text-color); 

    @include for-mobile() {
        font-size: 14px;
    }

    @include for-mobile() {
        max-height: 400px;
    }
}