.catalog-page {
    font-size: 24px;
    line-height: calc(28 / 24);
    color: var(--title-color);

    @include for-tablet() {
        font-size: 19px;
        line-height: calc(28 / 19);
    }

    @include for-tablet() {
        font-size: 17px;
        line-height: calc(28 / 17);
    }

    @include for-phone-mini() {
        font-size: 15px;
        line-height: calc(28 / 15);
    }

}

.catalog-page__img {
    margin-bottom: 9px;
}
