.footer-info-list__list_title {
    margin-bottom: 17px; 

    @include for-standart-mobile() {
        margin-bottom: 8px;
    }
}

.footer-info-list__link {
    line-height: calc(16 / 14);

    @include for-rare-phone-mini() {
        max-width: 270px;
    }
}

