.purchase-terms__wrapper {
    margin: 286px auto 79px;
    max-width: 1200px;
    max-height: 465px;
    background-color: var(--bg-color);

    @include for-desktop() {
        max-width: 1000px;
    }

    @include for-small-desktop()  {
        max-width: 950px;
    }

    @include for-tablet() {
        max-width: 660px;
        margin: 180px auto 79px;
    }

    @include for-mobile() {
        max-width: 500px;
    }

    @include for-standart-mobile() {
        max-width: 400px;
        margin: 140px auto 79px;
    }

    @include for-phone-mini() {
        max-width: 300px;
        max-height: max-content;
        margin: 60px auto 79px;
    }
}

.purchase-terms__content {
    padding: 63px 0 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purchase-terms__title {
    display: inline-block;
    font-size: 46px;
    line-height: calc(50 / 46);
    color: var(--deep-dark-text-color);

    @include for-small-desktop()  {
        font-size: 40px;
        line-height: calc(50 / 40);
    }

    @include for-tablet() {
        font-size: 36px;
        line-height: calc(50 / 36);
    }

    @include for-phone-mini()  {
        font-size: 28px;
        line-height: calc(50 / 28);
    }
}

.purchase-terms__points {
    display: flex;
    justify-content: space-between;
    padding: 65px 0 70px;
    max-width: 800px;
    column-gap: 67px;

    @include for-mobile() {
        max-width: 600px;
        column-gap: 30px;
    }

    @include for-mobile() {
        max-width: 100px;
        column-gap: 10px;
        justify-content: center;
    }

    @include for-phone-mini()  {
        flex-direction: column;
        align-items: center;
    }

}

.purchase-terms__point {
    align-self: center;
    margin: 0 55px 0;
    max-width: 200px;
    max-height: 100px;

    @include for-mobile() {
        max-width: 90px;
        max-height: 100px;
        margin: 0 35px 0;
    }

    @include for-phone-mini()  {
        margin-bottom: 30px;
    } 
}

.purchase-terms__img {
    margin: 0 auto 22px;
    display: block;
}

.purchase-terms__img_min {
    margin: 6px auto 29px;

    @include for-mobile() {
        min-width: 63px;
    }
}

.purchase-terms__description {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.75px;
    text-align: center;
    color: var(--title-color);

}

.purchase-terms__btn {
    padding: 0 24px;
    margin-bottom: 26px;
    max-width: 146px;
    max-height: 50px;
    border-radius: 2px;
    background-color: var(--btn-color);
    font-size: 12px;
    line-height: calc(60 / 12);
    letter-spacing: 2px;
    text-align: center;
    color: var(--white-text-color);
}

.purchase-terms__text {
    font-size: 12px;
    font-weight: 400;
    line-height: calc(14 / 12);
}