.swiper-wrapper {
  position: relative;
  padding-bottom: 48px;
}

.coverflow { 
  width: 100%;
  max-width: 1440px;  
  margin: 0 auto; 
}


.coverflow .swiper-slide { 
  width: 100%; 
  max-width: 1344px; 
}

.coverflow .swiper-slide img {
  width: 100%;  
  
  aspect-ratio: 1344 / 700; 
}


#sliderPrev {
  position: absolute;
  z-index: 1;
  left: 7%;
  top: 44%;
}

#sliderNext {
  position: absolute;
  z-index: 1;
  right: 7%;
  top: 44%;
}

.swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--btn-color);
}
.swiper .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: var(--btn-color);
}