@font-face {
    font-family: "Roboto", sans-serif;
    src: url("../../fonts/Roboto-Regular.woff") format("woff");
}


html, body {
    font-family: var(--font);
    color: var(--text-color);
}

.none {
    display: none !important;
}

.content, .presentation-content__text_right, .presentation-content__text_left {
    will-change: transform;
}