:root {
    --nav-top-bg: #F4F4F4;
    --nav-bottom-bg: #E0E0E0;
    --nav-top-text-color: #AAAAAA;
    --nav-bottom-text-color: #000000;

    --text-color: #AAAAAA;
    --title-color: #1A1A1A;    
    --accent-text: #46856E;
    --white-text-color: #FFFFFF;
    --deep-dark-text-color: #000000;
    --bg-color: #F2F2F2;


    --btn-color: #46856E;
    
    --footer-text: #FFFFFF;
    --footer-bg: #2B2B2B;

    --font: "Roboto", sans-serif;
}

@mixin for-medium-desktop() {
    @media (max-width: 1500px) {
        @content;
    }
    
}

@mixin for-desktop() {
    @media (max-width: 1366px) {
        @content;
    }
    
}

@mixin for-small-desktop() {
    @media (max-width: 1195px) {
        @content;
    }
    
}

@mixin for-tablet() {
    @media (max-width: 992px) {
        @content;
    }
}


@mixin for-mobile() {
    @media (max-width: 700px) {
        @content;
    }
}


@mixin for-standart-mobile() {
    @media (max-width: 650px) {
        @content;
    }
}


@mixin for-phone-mini() {
    @media (max-width: 450px) {
        @content;
    }
}

@mixin for-rare-phone-mini() {
    @media (max-width: 350px) {
        @content;
    }
}