:root {
    --nav-top-bg: #F4F4F4;
    --nav-bottom-bg: #E0E0E0;
    --nav-top-text-color: #AAAAAA;
    --nav-bottom-text-color: #000000;

    --text-color: #AAAAAA;
    --title-color: #1A1A1A;    
    --accent-text: #46856E;
    --white-text-color: #FFFFFF;
    --deep-dark-text-color: #000000;
    --bg-color: #F2F2F2;


    --btn-color: #46856E;
    
    --footer-text: #FFFFFF;
    --footer-bg: #2B2B2B;

    --font: "Roboto", sans-serif;
}

